<!DOCTYPE HTML>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        .in-progress {
            text-decoration: none;
        }

        .completed {
            text-decoration: line-through;
        }
    </style>
</head>
<body class="h-full grid place-items-center">
    <div id="app">
        <section v-if="inProgressAssignments.length > 0">
            <h2 class="font-bold mb-2">In-progress</h2>
            <ul>
                <li v-for="assignment in inProgressAssignments" :key="assignment.id">
                    <label class="in-progress">
                        <input type="checkbox" v-model="assignment.complete">
                        {{assignment.name}}
                    </label>
                </li>
            </ul>
        </section>

        <section class="mt-8" v-if="completedAssignments.length > 0">
            <h2 class="font-bold mb-2">Completed</h2>
            <ul>
                <li v-for="assignment in completedAssignments" :key="assignment.id">
                    <label class="completed">
                        <input type="checkbox" v-model="assignment.complete">
                        {{assignment.name}}
                    </label>
                </li>
            </ul>
        </section>
    </div>

    <script>
        let app = {
            data() {
                return {
                    assignments: [
                        {name: 'Finish Project', complete: false, id: 1},
                        {name: 'Read Chapter 4', complete: false, id: 2},
                        {name: 'Turn in Homework', complete: false, id: 3}
                    ]
                }
            },
            computed: {
                completedAssignments() {
                    return this.assignments.filter(assignment => assignment.complete)
                },
                inProgressAssignments() {
                    return this.assignments.filter(assignments => !assignments.complete)
                }
            }
        };

        Vue.createApp(app).mount('#app');
    </script>

</body>
</html>